<div id="deals">

<div class="contextual">
	<%= link_to_if_authorized l(:label_deal_new), {:controller => 'deals', :action => 'new', :project_id => @project, :contact_id => @contact} %>
</div>

<h3><%= "#{l(:label_deal_plural)}" %> <%= " - #{h number_to_currency(related_deals.sum{|d| d.price || 0})}" if false %></h3>     

<% if related_deals.any? %>
	<table class="related_deals">  
	<% related_deals.each do |deal| %>  
		<tr>
			<td class="name" style="vertical-align: top;">
				<h4>
					<%= link_to deal.name, {:controller => 'deals', :action => 'show', :id => deal.id } %>
				</h4>  
					<%= deal_price(deal).html_safe %>  
					<% if deal.status %>  
					<span class="deal-status" style = <%= "background-color:#{deal.status.color_name};color:white;" %> >
						<%= h deal.status %> 
					</span>
					<% end %>               
			</td>
		</tr>
	<% end %>
	</table>
<% end %>                        
</div>
