<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title><%=h html_title %></title>
<!-- Fix fuer Seitenansichtsfehler im IE8. Hinzugefuegt am 18.07.2011 -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'jquery/jquery-ui-1.8.21', 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<!-- jquery lib und tabslideout fuer slider eingebaut -->
<script src="/javascripts/jquery/jquery.tabSlideOut.v1.3.js" type="text/javascript"></script>
<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body class="<%=h body_css_classes %>">
<div id="wrapper">
<div id="wrapper2">
<div id="top-menu">
    <div id="account">
        <%= render_menu :account_menu -%>
    </div>
    <%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
    <%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
</div>

<div id="header">
    <% if User.current.logged? || !Setting.login_required? %>
    <div id="quick-search">
        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
        <label for='q'>
          <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        </label>
        <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
        <% end %>
        <%= render_project_jump_box %>
    </div>
    <% end %>

    <h1><%= page_header_title %></h1>

    <% if display_main_menu?(@project) %>
    <div id="main-menu">
        <%= render_main_menu(@project) %>
    </div>
    <!-- clear:both ist notwendig damit in redmine 1.3 das header-menu
    richtig angezeigt wird, ansonsten wird bei langen Projectnamen
    das Menu weiss auf weiss angezeigt -->
    <div style="clear:both;"></div>
    <% end %>
</div>

<div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
    <div id="sidebar">
        <%= yield :sidebar %>
        <%= view_layouts_base_sidebar_hook_response %>
    </div>

    <div id="content">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
    </div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<div id="ajax-modal" style="display:none;"></div>

<div id="footer">
  <div class="bgl"><div class="bgr">
     Powered by <%= link_to Redmine::Info.versioned_name, "/projects/systemhaus/wiki/Hilfe" %>
  </div></div>
</div>
</div>
</div>
<%= call_hook :view_layouts_base_body_bottom %>
<!-- 
experimental ijab integration
<script type="text/javascript" language="javascript" src="ijab/ijab_config.js"></script>
<script type="text/javascript" language="javascript" src="ijab/ijab_i18n_en.js"></script>
<script type="text/javascript" language="javascript" src="ijab/ijab/ijab.nocache.js"></script>
<script>
-->
    <!-- ijab_httpbind,ijab_port,ijab_host,ijab_domain,ijab_servertype,ijab_debug --> 
<!--
    var ijab_httpbind = "http://infomine.dsv-gruppe.de:7070/http-bind/";
	var ijab_port = 5222; 
	var ijab_domain = "sid-repo.dsv-gruppe.de"; 
	var ijab_servertype = "Openfire";
	var ijab_rostermode = "Online";	
	var ijab_debug = true;
	var ijab_enableLoginBox = true;
	var ijab_autoLogin = false;
	var ijab_auto_user = "User.current";
	var ijab_auto_password = "auth_token";
	var ijab_anonymous_prefix = "";
	var ijab_reconnect_count = 1;
</script>
<script type="text/javascript">
    function testHandler() {
        var handler = {
            onBeforeLogin:function() {
                alert("On Before login"); 

            }, onEndLogin:function() {

                alert("On end login"); 

            }, onError:function(message) {

                iJab.login('imdev','imdev631'); 

            }, onLogout:function() {

                alert("On logout"); 

            } 

        }; iJab.addHandler(handler); 

    }

</script> -->
</body>
</html>
